# Build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Rider / VS Code
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
appsettings.Development.json
scripts/bootstrap-first-admin.sh

# Ignore all Markdown except README.md
*.md
!README.md
doc/
